{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class="col-md-9">
    
      <!-- display tweets here -->
      {% for tweet in tweets %}
        <li class="tweet-list">
        	<div class='row'>
        		<div class="col-md-2">
        		<img src="unknown-user.png" class="tweet-profile-pic">
        		</div>
        		<div class="col-md-10">
        			<h4><a href="/users/{{tweet.name}}">{{tweet.name}}</a></h4>
        			{{tweet.content}}
        		</div>
        	</div>
        </li>
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}